.lang{
    position: absolute;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 1;
    top:100%;
    right:0;
    visibility: hidden;
    &._open{
        visibility: visible;
    }
}

.lang-item{
    font-weight: 400;
    padding:5px 30px;
    display:block;
    &:first-child{
        padding-top:10px;
    }
    &:last-child{
        padding-bottom:10px;
    }
    &:hover{
        background-color: #f0f0f0;
    }
}